<!DOCTYPE html>
<html ng-app="hackathon">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/layout.css">
    <script src="../vendors/angular.js"></script>
    <script src="../vendors/angular-route.min.js"></script>
    <script src="../vendors/angular-ui-router.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../controller/indexController.js"></script>
</head>
<body background="../image/landingPage.JPG">
<div class="notify-logo" ng-click="showNotification = !showNotification">
<div ng-show="showNotification">
<ul>
	<li>Test notification1</li>
	<li>Test notification2</li>
	<li>Test notification3</li>
	<li>Test notification4</li>
</ul>
</div>
</div>
</body>

</html>
