<html>
 <script>
    $(document).ready(function () {

        // ANIMATEDLY DISPLAY THE NOTIFICATION COUNTER.
        $('#noti_Counter')
            .css({ opacity: 0 })
            .text('7')              // ADD DYNAMIC VALUE (YOU CAN EXTRACT DATA FROM DATABASE OR XML).
            .css({ top: '-10px' })
            .animate({ top: '-2px', opacity: 1 }, 500);

        $('#noti_Button').click(function () {

            // TOGGLE (SHOW OR HIDE) NOTIFICATION WINDOW.
            $('#notifications').fadeToggle('fast', 'linear', function () {
                if ($('#notifications').is(':hidden')) {
                    $('#noti_Button').css('background-color', '#2E467C');
                }
                else $('#noti_Button').css('background-color', '#FFF');
            });

           // $('#noti_Counter').fadeOut('slow');                 // HIDE THE COUNTER.

            return false;
        });

        // HIDE NOTIFICATIONS WHEN CLICKED ANYWHERE ON THE PAGE.
        $(document).click(function () {
            $('#notifications').hide();

            // CHECK IF NOTIFICATION COUNTER IS HIDDEN.
            if ($('#noti_Counter').is(':hidden')) {
                // CHANGE BACKGROUND COLOR OF THE BUTTON.
                $('#noti_Button').css('background-color', '#2E467C');
            }
        });

        $('#notifications').click(function () {
            return false;       // DO NOTHING WHEN CONTAINER IS CLICKED.
        });
        $('.notify-panel').enscroll({
            showOnHover: true,
            verticalTrackClass: 'track3',
            verticalHandleClass: 'handle3'
        });
    });
</script>
<div class="landing-img">

  <div>
        <ul>
            <li id="noti_Container">
                <div id="noti_Counter"></div>
                <div id="noti_Button"></div>    
                <div id="notifications">
                    <h3>Notifications</h3>
                    <div class="notify-panel">
                      <span><p class="actor">Test1</p><p class="verb">Singned In</p></span>
                      <span><p>Test notification2</p></span>
                      <span><p>Test notification3</p></span>
                      <span><p>Test notification4</p></span>
                      <span><p>Test notification5</p></span>
                      <span><p>Test notification6</p></span>
                      <span><p>Test notification7</p></span>
                      <span><p>Test notification8</p></span>
                      <span><p>Test notification9</p></span>
                      <span><p>Test notification10</p></span>
                      <span><p>Test notification11</p></span>
                    </div>
                    <div class="seeAll"><a href="#">See All</a></div>
                </div>
            </li>
        </ul>
    </div>
 <button ng-show="isTeacher" ng-click="createLog()" class="landing-btn">Create log</button>
 <button type="submit" ng-click="logout()">Logout</button>
</div>
</div>
</html>
